*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

/* Clases especiales */

/* Contenedor */

/* Navegador */

/* Encabezado */

/* Secciones */

/* Portafolio */

/* Nosotros */

/* Contactenos */

/* Pie de pagina */


