*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Header*/
.header{
    height: 50px;
    display: flex;
    flex-wrap: row wrap;
}

.hijo1, .hijo2, .hijo3{
    padding: 10px;
    border: 1px solid gray;
}

.hijo1{
    flex: 0 0 20%;
}
.hijo2{
    flex: 0 0 65%;
}
.hijo3{
    flex: 0 0 15%;
}

/*slider*/
.slider{
    height: 300px;
    display: flex;
    flex-wrap: row wrap;
    border: 1px solid gray;
}
